[Desktop Entry]
Name=Explorer
Comment=Browse the filesystem with the file manager
GenericName=File Manager
Exec=thunar %U
Icon=org.xfce.thunar
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Core;GTK;FileTools;FileManager;
MimeType=inode/directory;
